.colors {
  margin-inline: auto;
  width: 90%;
  display: flex;
  gap: 10px;
}

.color {
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.2em;
  border: 3px solid var(--main-branco);
  background: var(--main-branco);
  clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
  cursor: pointer;
}

.color:nth-child(1):hover {
  background-color: pink;
}

.color:nth-child(2):hover {
  background-color: yellow;
}

.color:nth-child(3):hover {
  background-color: rgb(3, 3, 105);
  color: var(--main-branco);
}

.color:nth-child(5):hover {
  background-color: black;
  color: var(--main-branco);
}